*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  font-size: 14px;
}

.body{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    

}


@font-face {
  font-display: swap; 
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); 
}



.header{
    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;

  justify-content: center;
  align-items: center;
  
  padding-top: 20px;
  padding-bottom: 10px;
  
  
}





.header__div--logo {
  width: 10%;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  
}


  .header__img--logo {
    aspect-ratio: auto;
    
  
  max-width: 120px;
  max-height: 15px;  
}
  


.nav{
  width: 80%;
  min-width: 30%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  padding-right: 6%;
  
  

  

}

.nav__a{
    justify-content: center;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}



.header__div--rayitas{
  max-width: 15%;
  max-height: 15%;
  
  
  


 
}


.header__img--rayitas{
    aspect-ratio: auto;
    width: 20px;
    height: 20px;
   
    
    
}

.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-grow: 1;
 
 gap: 2%;
 

}

.galeria{
  
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
   
    gap: 10px;
    
}

.galeria-img{
    width: 100%;
    height: 100%;
    
}

.galeria-img--4{
  grid-row: span 2;
  grid-column: span 2;
}

.galeria-img--2f{
  grid-row: span 2;
}

.galeria-img--2c{
 grid-column: span 2;
}


.main__div--logo{
  
 
  max-width: 188px;
  max-height: 34px;
  margin: 20px;
  
  
}

.main__img{
  
  aspect-ratio: auto;
  width: 100%;
   
    object-fit: contain; 
}



.main__p{
    
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
}

.footer{
    padding: 2%;
    width: 100%;
    height: 20%;

  display: flex;
  
justify-content: center;
    align-items: center;
  
}

.footer__p{
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
}